{% load staticfiles %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

        
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
<style>
    html {
	  position: relative;
	  min-height: 100%;
	}
    .footer {
	  position: absolute;
	  /*bottom: 0;*/
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  /*height: 60px;*/
	  background-color: #000;
	}

    
</style>

<footer class="footer">
	<div class="container">
		<br>
		<span>
			<p>
			<a href="https://darksky.net/poweredby/">Powered by Dark Sky</a> | 
			<a href="https://deverlopers.google.com/maps">Google Geolocation API</a> |
			<a href="https://plot.ly">Plotly</a>
			</p>
		</span>	
	</div>
	
</footer>