<html>
    


{% include 'fetchw/navbar.html' %} 

{% block content %}
<body>

<br>
<br>
<br>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


<h1> Users </h1>

{% if all_objects %}
    <ul>
        {% for u in all_objects %}
            <li><a href="{% url 'fetchw:detail' u.id %}">{{ u.uname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There are no searches in your history.</h3>
{% endif %}

</body>


{% endblock %}

<style type="text/css">
    footer{
        bottom: 0;
    }
</style>

{% include 'fetchw/footer.html' %}

</html>