{% extends 'fetchw/navbar.html' %}

{% block content %}
</br></br></br></br>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 pull-md-3 bd-content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Login Failed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    footer{
        bottom: 0;
    }
</style>



{% include 'fetchw/footer.html' %}

{% endblock %}

